/* block model css */
html {
  box-sizing: border-box;
}

*,
*::before,
**::after {
  box-sizing: inherit;
}

/* чтобы padding работали на строчных элементах то нужно им задать display: inline-block */

/* variables */
:root {
  --basic-system-font: "Montserrat", -apple-system, BlinkMacSystemFont,
    avenir next, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto,
    noto, arial, sans-serif;

  --title-color: #000000;
  --subtitle-color: #a0785a;
  --text-color: #355e3b;
  --accent-color: #ff0000;
  --bg-color-section: #dfe2ec;
}

body {
  /* если не будет шрифта Montserrat тогда будет взят первый шрифт найденный в системе */
  font-family: var(--basic-system-font);

  /* background-color: var(--subtitle-color); */
  color: var(--title-color);

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;

  letter-spacing: -0.015em;

  /* главный размер шрифта - это абзац */
  font-size: 18px;
  line-height: 1.67;
}

h1,
h2,
h3 {
  margin-top: 0;
}

img {
  display: block;
}

/* .header {
  outline: 1px solid red;
} */

.flex2 {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.nav {
  display: flex;
  gap: 50px;
}

.header-btns {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.header-btns li a {
  text-align: center;
  display: block;
  background-color: #a0785a;
  padding: 10px 30px;
  min-width: 130px;
  border-radius: 8px;
  color: #dfe2ec;
}

.header-btns li a:focus,
.header-btns li a:hover {
  background-color: yellowgreen;
}

.header-link {
  margin-right: 100px;
}

.link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .red {
  background-color: #ff0000;
} */

button {
  font-family: inherit;
}

/* .link {

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
} */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.current {
  color: aqua;
}

.grid {
  display: flex;
  /* gap: 50px; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

.grid-item {
  /* width: 300px; */
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  background-color: tomato;
}

.grid-item:nth-child(3) {
  margin-right: 0;
}

.flex {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-item {
  display: flex;
  gap: 50px;
  /* justify-content: center; */
  align-items: center;
}

.flex-item:nth-child(2n) {
  /* background-color: orange; */
  flex-direction: row-reverse;
}

.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  /* background-color: #ff0000; */
}
