:root {
  --title-color: #000000;
  --subtitle-color: #a0785a;
  --text-color: #355e3b;
  --accent-color: #ff0000;
  --bg-color-section: #dfe2ec;
}

body {
  background-color: var(--subtitle-color);
}

.link {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

.current {
  color: aqua;
}

.grid {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-item {
  display: flex;
  gap: 50px;
  /* justify-content: center; */
  align-items: center;
}

.flex-item:nth-child(2n) {
  /* background-color: orange; */
  flex-direction: row-reverse;
}
